$primary-color: white;
$bg: black;
body{
  margin:0;
  padding:0;

}
.app{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  font-family: 'robot';
 
}

@font-face {
  font-family: 'roboto';
  src: url('../src/assets/Roboto-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
